/** NUMBERS **/
#main-frame.add-connections .slot-connection,
#main-frame.show-connections .slot-connection,
#main-frame.add-connections #hover-indicator {
  display: block;
  position: absolute;
  width: 46px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 1px 1px 3px black;
  border: 1px solid black;
  border-radius: 5px;
  transform-origin: center center;
}
