/** NUMBERS **/
#main-frame.add-numbers .slot-number,
#main-frame.show-numbers .slot-number,
#main-frame.add-numbers #hover-indicator {
  display: block;
  position: absolute;
  width: 46px;
  height: 46px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 1px 1px 3px black;
  border: 1px solid black;
  border-radius: 50%;
}

/** SCORES **/
#main-frame.add-scores .slot-score,
#main-frame.show-scores .slot-score,
#main-frame.add-scores #hover-indicator {
  display: block;
  position: absolute;
  width: 50px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 1px 1px 3px black;
  border: 1px solid black;
  border-radius: 1px;
}
#main-frame.add-subscores .slot-subscore,
#main-frame.show-subscores .slot-subscore,
#main-frame.add-subscores #hover-indicator {
  display: block;
  position: absolute;
  width: 40px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 1px 1px 3px black;
  border: 1px solid black;
  border-radius: 1px;
}

/** ERRORS **/
#main-frame.add-errors .slot-error,
#main-frame.show-errors .slot-error,
#main-frame.add-errors #hover-indicator {
  display: block;
  position: absolute;
  width: 34px;
  height: 34px;
  background: url("img/scribble.png");
  background-size: 100%;
  border-radius: 0px;
  border: none;
}

/** PLAN **/
#main-frame.add-plans .slot-plan,
#main-frame.show-plans .slot-plan,
#main-frame.add-plans #hover-indicator {
  display: block;
  position: absolute;
  width: 54px;
  height: 54px;
  border: 1px solid black;
  box-shadow: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
}

/** MARKERS **/
#main-frame.add-robotmarkers .slot-robotmarker,
#main-frame.show-robotmarkers .slot-robotmarker,
#main-frame.add-robotmarkers #hover-indicator {
  display: block;
  position: absolute;
  width: 36px;
  height: 36px;
  background: url("img/scribble.png");
  background-size: 100%;
  border-radius: 0px;
  border: none;
}
#main-frame.add-energymarkers .slot-energymarker,
#main-frame.show-energymarkers .slot-energymarker,
#main-frame.add-energymarkers #hover-indicator {
  display: block;
  position: absolute;
  width: 35px;
  height: 35px;
  background: url("img/scribble.png");
  background-size: 100%;
  border-radius: 0px;
  border: none;
}

/* BONUSES */
#main-frame.add-bonuses .slot-bonus,
#main-frame.show-bonuses .slot-bonus,
#main-frame.add-bonuses #hover-indicator {
  display: block;
  position: absolute;
  width: 35px;
  height: 35px;
  background: url("img/scribble.png");
  background-size: 100%;
  border-radius: 0px;
  border: none;
}

#main-frame.add-factorymults .slot-factorymult,
#main-frame.show-factorymults .slot-factorymult,
#main-frame.add-factorymults #hover-indicator {
  display: block;
  position: absolute;
  width: 35px;
  height: 35px;
  background: url("img/scribble.png");
  background-size: 100%;
  border-radius: 0px;
  border: none;
}

#main-frame.add-factorybonuses .slot-factorybonus,
#main-frame.show-factorybonuses .slot-factorybonus,
#main-frame.add-factorybonuses #hover-indicator {
  display: block;
  position: absolute;
  width: 35px;
  height: 35px;
  background: url("img/scribble.png");
  background-size: 100%;
  border-radius: 0px;
  border: none;
}

/* RESOURCES */
#main-frame.add-waters .slot-water,
#main-frame.show-waters .slot-water,
#main-frame.add-waters #hover-indicator {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  background: url("img/circled.png");
  background-size: 100%;
  border-radius: 0px;
  border: none;
}
#main-frame.add-plants .slot-plant,
#main-frame.show-plants .slot-plant,
#main-frame.add-plants #hover-indicator {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  background: url("img/circled.png");
  background-size: 100%;
  border-radius: 0px;
  border: none;
}
#main-frame.add-pearls .slot-pearl,
#main-frame.show-pearls .slot-pearl,
#main-frame.add-pearls #hover-indicator {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  background: url("img/circled.png");
  background-size: 100%;
  border-radius: 0px;
  border: none;
}
#main-frame.add-rubies .slot-ruby,
#main-frame.show-rubies .slot-ruby,
#main-frame.add-rubies #hover-indicator {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  background: url("img/circled.png");
  background-size: 100%;
  border-radius: 0px;
  border: none;
}
#main-frame.add-astronauts .slot-astronaut,
#main-frame.show-astronauts .slot-astronaut,
#main-frame.add-astronauts #hover-indicator {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  background: url("img/circled.png");
  background-size: 100%;
  border-radius: 0px;
  border: none;
}
#main-frame.add-plannings .slot-planning,
#main-frame.show-plannings .slot-planning,
#main-frame.add-plannings #hover-indicator {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  background: url("img/circled.png");
  background-size: 100%;
  border-radius: 0px;
  border: none;
}

#main-frame.add-resources .slot-resource,
#main-frame.show-resources .slot-resource,
#main-frame.add-resources #hover-indicator {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  background: url("img/circled.png");
  background-size: 100%;
  border-radius: 0px;
  border: none;
}
