$cardWidth: 200px;
$cardHeight: 520px * $cardWidth / 343px;
$cardMargin: 5px;
$cardBorderRadius: 7px;

/*****************************
******************************
******** CONSTRUCTIONS *******
******************************
*****************************/

.construction-card-holder {
    width: $cardWidth;
    height: $cardHeight;
    transition:
        transform 0.5s ease-in-out,
        left 0.6s ease-in-out,
        opacity 0.6s ease-in-out;
    transform-origin: 50% 50%;
    transform-style: preserve-3d;
    border-radius: $cardBorderRadius;
    &.flipped {
        transform: rotateY(180deg);

        .construction-card-front {
            box-shadow: none;
        }
        .construction-card-back {
            box-shadow: 2px 2px 3px #1c1c1c;
        }
    }

    .construction-card-back,
    .construction-card-front {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        border-radius: $cardBorderRadius;
    }

    .construction-card-back {
        background-image: url("img/construction-cards-back.jpg");
        background-size: 500% 300%;
        transform: rotateY(180deg);
        z-index: 2;
        @include centered;
    }

    .construction-card-front {
        background-image: url("img/construction-cards-front.jpg");
        // @media (max-width: $breakpoint) {
        //     background-image: url("img/construction_front_low.jpg");
        // }
        background-size: 600% 400%;
        position: relative;
        box-shadow: 2px 2px 3px #1c1c1c;

        .top-right-corner,
        .bottom-left-corner {
            position: absolute;
            width: 44px;
            height: 44px;
            background-image: url("img/construction-cards-actions.png");
            background-size: 500% 300%;
            clip-path: polygon(0 26%, 0 0, 100% 0, 100% 100%, 74% 100%);
        }

        .top-right-corner {
            top: 17px;
            left: 138px;
        }

        .bottom-left-corner {
            transform: rotate(180deg);
            bottom: 16px;
            left: 17px;
        }
    }

    $actions: "robot" "energy" "plant" "water" "energy-water" "astronaut-plant" "robot-planning" "astronaut" "joker"
        "planning";
    @each $action in $actions {
        $i: index($actions, $action) - 1;
        $col: $i % 5;
        $row: ($i - $col) / 5;

        &[data-action="#{$action}"] {
            .construction-card-back,
            .top-right-corner,
            .bottom-left-corner {
                background-position: $col * 100%/4 $row * 50%;
            }
        }
    }

    @for $i from 0 through 17 {
        &[data-number="#{$i}"] .construction-card-front {
            background-position-x: ($i % 6) * 100%/5;
            background-position-y: (($i - ($i % 6)) / 6) * 100% / 3;
        }
    }
}

/*****************************
******************************
*********** PLANS ************
******************************
*****************************/

// #plan-cards-container {
//     background-color: rgba(255, 255, 255, 0.6);
//     padding: 10px;

//     #plan-cards-container-resizable {
//         display: flex;
//         flex-grow: 1;
//         justify-content: space-around;

//         .plan-card-holder {
//             width: $cardWidth;
//             height: $cardHeight;
//             border: 4px solid transparent;
//             border-radius: 4px;

//             &.unselectable {
//                 opacity: 0.6;
//                 cursor: not-allowed;
//             }

//             &.selectable {
//                 cursor: pointer;
//                 animation: borderBlink 0.9s infinite;
//                 border-width: 4px;
//                 &:hover {
//                     transform: scale(1.02);
//                     border-color: red;
//                     animation: none;
//                 }
//             }

//             &.selected {
//                 border-color: red;
//                 &.unselectable {
//                     opacity: 1;
//                     cursor: default;
//                 }
//             }

//             .plan-card-front {
//                 position: relative;
//                 width: 100%;
//                 height: 100%;
//                 background-image: url("img/plans.jpg");
//                 @media (max-width: $breakpoint) {
//                     background-image: url("img/plans_low.jpg");
//                 }
//                 background-size: cover;

//                 .plan-validation {
//                     position: absolute;
//                     width: 130px;
//                     height: 130px;
//                     top: 90px;
//                     left: 40px;
//                 }

//                 .plan-validation-0,
//                 .plan-validation-1 {
//                     position: absolute;
//                     width: 65px;
//                     height: 65px;

//                     &::before {
//                         content: "";
//                         position: absolute;
//                         width: 80%;
//                         height: 80%;
//                         top: 10%;
//                         left: 10%;
//                     }

//                     .stamp {
//                         display: none;
//                         position: absolute;
//                         top: 0%;
//                         left: -18%;
//                         width: 120%;
//                         height: 100%;
//                         background-image: url("img/stamp.png");
//                         background-size: contain;
//                         background-repeat: no-repeat;
//                         background-position: center center;
//                     }
//                 }

//                 .plan-validation-0 {
//                     top: 227px;
//                     left: 23px;
//                 }

//                 .plan-validation-1 {
//                     top: 227px;
//                     left: 115px;
//                 }
//             }

//             &[data-validation="0"] .plan-validation-1 {
//                 &::before {
//                     background: #ece1cd;
//                 }
//                 .stamp {
//                     display: block;
//                 }
//             }
//             &[data-validation="1"] .plan-validation-0 {
//                 &::before {
//                     background: #ece1cd;
//                 }
//                 .stamp {
//                     display: block;
//                 }
//             }

//             @for $i from 0 through 27 {
//                 &[data-id="#{$i}"] .plan-card-front {
//                     background-position: $i * 100%/27 center;
//                 }
//             }

//             ////// ICE CREAM EXPANSION ///////
//             &[data-id="28"],
//             &[data-id="29"],
//             &[data-id="30"] {
//                 .plan-card-front {
//                     background-image: url("img/expansions/plans_icecream.jpg");
//                     background-size: 300% 100%;
//                 }
//             }

//             &[data-id="28"] .plan-card-front {
//                 background-position: 0% center;
//             }
//             &[data-id="29"] .plan-card-front {
//                 background-position: 50% center;
//             }
//             &[data-id="30"] .plan-card-front {
//                 background-position: 100% center;
//             }

//             ////// CHRISTMAS EXPANSION ///////
//             &[data-id="31"],
//             &[data-id="32"],
//             &[data-id="33"] {
//                 .plan-card-front {
//                     background-image: url("img/expansions/plans_christmas.jpg");
//                     background-size: 300% 100%;
//                 }
//             }

//             &[data-id="31"] .plan-card-front {
//                 background-position: 0% center;
//             }
//             &[data-id="32"] .plan-card-front {
//                 background-position: 50% center;
//             }
//             &[data-id="33"] .plan-card-front {
//                 background-position: 100% center;
//             }

//             ////// EASTER EGG EXPANSION ///////
//             &[data-id="34"],
//             &[data-id="35"],
//             &[data-id="36"] {
//                 .plan-card-front {
//                     background-image: url("img/expansions/plans_easter.jpg");
//                     background-size: 300% 100%;
//                 }
//             }

//             &[data-id="34"] .plan-card-front {
//                 background-position: 0% center;
//             }
//             &[data-id="35"] .plan-card-front {
//                 background-position: 50% center;
//             }
//             &[data-id="36"] .plan-card-front {
//                 background-position: 100% center;
//             }
//         }
//     }
// }
