.welcometothemoon-icon {
}

/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////
.icon-container {
  display: inline-block;
  vertical-align: middle;

  .icon-robot,
  .icon-astronaut,
  .icon-water,
  .icon-plant,
  .icon-planning,
  .icon-energy,
  .icon-bonus {
    width: 2em;
    height: 2em;
    background-image: url("img/icon-robot.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #4c483e;
    border-radius: 25%;
    margin-left: 2px;
  }

  .icon-robot {
    background-image: url("img/icon-robot.png");
  }
  .icon-astronaut {
    background-image: url("img/icon-astronaute.png");
  }
  .icon-water {
    background-image: url("img/icon-water.png");
  }
  .icon-plant {
    background-image: url("img/icon-plant.png");
  }
  .icon-planning {
    background-image: url("img/icon-planning.png");
  }
  .icon-energy {
    background-image: url("img/icon-energy.png");
  }
  .icon-bonus {
    background-image: url("img/icon-bonus.png");
  }
}

// Formatting chooseCombination notif
.card-number {
  width: 1em;
  height: 1.2em;
  background-color: #b7a987;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-family: Bebas;
  font-size: 2em;
  line-height: 1.3em;
  border-radius: 3px;
  border: 1px solid black;
  box-shadow: 1px 1px 1px black;
  font-weight: bold;

  & ~ .icon-container {
    width: 2em;
    height: 2.4em;
    background-color: #4c4b40;
    border-radius: 3px;
    border: 1px solid black;
    box-shadow: 1px 1px 1px black;
    .welcometothemoon-icon {
      font-size: 0.9em;
      margin: 0.3em auto;
      background-color: transparent;
    }
  }
}

.log-number {
  font-family: Bebas;
  font-weight: bold;
  font-size: 1.5em;
  vertical-align: middle;
  margin: 0 0.2em;
}

// .action-button {
//   .icon-container-water,
//   .icon-container-tech,
//   .icon-container-rover,
//   .icon-container-civ,
//   .icon-container-biomass,
//   .icon-container-energy,
//   .icon-container-flux {
//     margin: -5px 0px -5px;
//   }

//   &#btnciv,
//   &#btntech,
//   &#btnwater,
//   &#btnrover,
//   &#btnbiomass {
//     padding: 9px 7px;
//     margin: -10px 0px -10px 15px !important;
//   }
// }

/////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////

@font-face {
  font-family: "icomoon";
  src: url("img/fonts/icomoon.eot");
  src:
    url("img/fonts/icomoon.eot#iefix") format("embedded-opentype"),
    url("img/fonts/icomoon.ttf") format("truetype"),
    url("img/fonts/icomoon.woff") format("woff"),
    url("img/fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="svgicon-"],
[class*=" svgicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  vertical-align: bottom;
  font-size: 1.2em;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.svgicon-arrow:before {
  content: "\e900";
}
.svgicon-rocket:before {
  content: "\e901";
}
.svgicon-sabotage:before {
  content: "\e902";
  color: red;
}
.svgicon-x:before {
  content: "\e903";
}
