.score-sheet[data-board="1"] {
  background-image: url("img/scenario-1.jpg");

  .player-name {
    left: 125px;
    top: 10px;
  }

  .scribble-number {
    font-size: 43px;
    line-height: 41px;
    text-indent: -11px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 7px 2px rgba(255, 255, 255, 0.8);
    letter-spacing: -2px;
  }

  .wttm-slot.slot-rocket {
    width: 32px;
    height: 32px;
  }
  .wttm-slot.slot-bonus {
    width: 38px;
    height: 38px;
  }

  .wttm-slot.slot-arrow {
    width: 22px;
    height: 22px;

    &.selectable {
      background-color: rgba(255, 0, 0, 0.5);
      box-shadow: 0px 0px 8px 2px red;
      cursor: pointer;
      padding: 3px;
      margin: -3px;
      border-radius: 5px;

      &:hover {
        background-color: #00a60091;
        box-shadow: 0px 0px 4px 1px #04a604;
      }
    }
  }
  .wttm-slot.slot-score {
    width: 50px;
    height: 40px;
  }
  .wttm-slot.slot-error {
    width: 60px;
    height: 60px;
  }
}
