@import "scenario-1";
@import "scenario-2";
@import "scenario-3";
@import "scenario-4";

.score-sheet-wrapper {
    width: $scoreSheetSize + 2 * $borderSize;
    height: $scoreSheetSize + 2 * $borderSize;
    position: relative;
    border-radius: 7px;

    &[data-slideshow="0"] {
        .slideshow-left,
        .slideshow-right {
            display: none;
        }
    }

    .slideshow-left,
    .slideshow-right {
        position: absolute;
        width: 70px;
        z-index: 3;
        top: $borderSize;
        bottom: $borderSize;
        cursor: pointer;
        [data-solo="1"] & {
            display: none;
        }

        .arrow {
            position: absolute;
            height: 30px;
            width: 30px;
            margin-top: -15px;
            top: 50%;
            display: block;
            border-width: 5px 5px 0 0;
            border-style: solid;
            border-color: #fafafa;
            opacity: 0.35;
            outline: 0;
            z-index: 4;

            &:hover {
                opacity: 1;
                border-color: white;
            }
        }
        &:hover .arrow {
            opacity: 1;
            border-color: white;
        }
    }

    .slideshow-left {
        left: $borderSize;
        background: linear-gradient(90deg, rgb(40, 40, 40) 0%, rgba(255, 255, 255, 0) 100%);
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
        .arrow {
            left: 25px;
            transform: rotate(-135deg);
        }
    }

    .slideshow-right {
        right: $borderSize;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(40, 40, 40) 100%);
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
        .arrow {
            right: 25px;
            transform: rotate(45deg);
        }
    }

    .score-sheet-holder {
        width: $scoreSheetSize + 2 * $borderSize;
        height: $scoreSheetSize + 2 * $borderSize;
        position: relative;
        // overflow: hidden;
        transform-origin: top left;

        .score-sheet {
            width: $scoreSheetSize;
            height: $scoreSheetSize;
            background-size: 100%;
            background-repeat: no-repeat;
            position: absolute;
            top: 0;
            left: 0;
            border: $borderSize solid black;
            border-radius: 7px;
            box-shadow: 1px 1px 3px black;
            &:not(.active) {
                display: none;
            }

            /////////// CITY NAME ////////////
            .player-name {
                position: absolute;
                width: 150px;
                height: 50px;
                word-break: break-all;
                @include handwritten;
                @include centered;
                font-size: 28px;
                background: rgba(255, 255, 255, 0.7);
                border: 2px solid black;
                border-radius: 7px;
                box-shadow: 1px 1px 2px #202020;
            }

            .wttm-slot {
                position: absolute;
                display: block;
                z-index: 100;

                &.slot-number {
                    width: 46px;
                    height: 46px;
                    border-radius: 50%;
                    border: 1px solid transparent;
                    @include centered;
                    -webkit-user-select: none;
                    user-select: none;

                    &.selectable {
                        background-color: rgba(255, 255, 255, 0.4);
                        box-shadow: 0px 0px 8px 2px red;
                        cursor: pointer;

                        &:hover {
                            background-color: rgba(255, 255, 255, 0.8);
                            box-shadow: 0px 0px 1px 1px green;
                        }
                    }

                    .scribble-number {
                        height: 100%;
                        width: 100%;
                        font-family: "Caveat";
                        font-weight: bold;
                        text-align: center;
                    }
                }

                &.slot-score {
                    width: 50px;
                    height: 40px;
                    font-family: "Gears of Peace";
                    text-align: center;
                    font-size: 22px;
                    line-height: 45px;
                }

                &.slot-subscore {
                    width: 40px;
                    height: 30px;
                    font-family: "Gears of Peace";
                    text-align: center;
                    font-size: 18px;
                    line-height: 32px;
                }

                &.slot-plan {
                    width: 54px;
                    height: 54px;

                    .scribble-number {
                        width: 100%;
                        height: 100%;
                        font-family: "Gears of Peace";
                        text-align: center;
                        font-size: 27px;
                        line-height: 56px;
                        background: none;
                        box-shadow: none;
                        text-indent: 0px;
                    }
                }
            }
        }
    }

    [data-player-boards-layout="1"] & {
        height: auto;

        .slideshow-left,
        .slideshow-right {
            display: none;
        }

        .score-sheet-holder {
            height: auto;

            .score-sheet {
                position: relative;
                &:not(.active) {
                    display: block;
                }
            }
        }
    }
}
